<!--sayfalarımı burda çağırıcam-->
<!--bu sayfasa homebase e bağlı olarak çalışıcam-->
{% extends 'homebase.html' %}
{%  load static %}
{% block title %}İLETİŞİM- {{setting.company}}{% endblock %}
{% block keywords %}İndex Sayfası Anahtar Kelimeler{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{% block head %}

{% endblock %}

<!--açıkan tüm html lerde buralar geçerli, tek tek hepsine göndermem gerekmiyor buralar include olduğu için, controller(view)dan gönderdiğimiz dataları görür-->


{% block content %}
<!--BLANK-->
	<div class="section">
		<div class="container">
			<ul class="blank">
				<li><a href="/">AnaSayfa</a></li>
				<li class="active">İletişim</li>
			</ul>
		</div>
	</div>
    <div id="contact-page" class="container">
    	<div class="bg">

    		<div class="row">
	    		<div class="col-sm-4">
	    			<div class="contact-form">
	    				<h2 class="title text-center">Bize Ulaşın</h2>
	    				 {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                            {% endfor %}
                         {% endif %}

                         <form action="" method="post">
                             {% csrf_token %}
                             {{ form.as_p }}
                             <input type="submit" value="SEND FORM">
                          </form>
	    		    </div>
                </div>

	    		<div class="col-sm-8">
	    			<div class="contact-info">
	    				<h2 class="title text-center">İletişim Bilgilerimiz</h2>
	    				{{ setting.contact|safe }}
	    				<div class="social-networks">
	    					<h2 class="title text-center">Sosyal Medya</h2>
							<ul>
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-youtube"></i></a>
								</li>
							</ul>
	    				</div>
	    			</div>
    			</div>

    	</div>
    </div><!--/#contact-page-->

{% endblock %}
<!--burada eklediğimiz şeyler sayfada görünmesini istediğimiz şeyler-->