<!--sayfalarımı burda çağırıcam-->
<!--bu sayfasa homebase e bağlı olarak çalışıcam-->
{% extends 'homebase.html' %}
{%  load static %}
{% block title %}İndex Sayfası {{setting.title}}{% endblock %}
{% block keywords %}İndex Sayfası Anahtar Kelimeler{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{% block head %}

{% endblock %}

<!--açıkan tüm html lerde buralar geçerli, tek tek hepsine göndermem gerekmiyor buralar include olduğu için, controller(view)dan gönderdiğimiz dataları görür-->

{% block slider %} {% include 'slider.html' %}{% endblock %}
{% block content %} {% include 'content.html' %}{% endblock %}
<!--burada eklediğimiz şeyler sayfada görünmesini istediğimiz şeyler-->